*,
*:before,
*:after {
    box-sizing: inherit;
}

html {
    box-sizing: border-box;
    font-size: 16px;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ol,
ul {
    margin: 0;
    padding: 0;
    font-weight: normal;
}

ol,
ul {
    list-style: none;
}

html,
body {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
}

a {
    text-decoration: none;
}

/* Header */

.site-header {
    flex: 0 0 auto;
    background-color: #e74c3c;
    color: #2b2e30;
    padding: 0 2em;
}

.site-header a,
.site-header a:visited {
    color: #2b2e30;
}

/* Main */

.main {
    flex: 1 0 auto;
    padding: 2em;
}

/* Footer */

.site-footer {
    flex: 0 0 auto;
    background: #e74c3c;
    color: #2b2e30;
    padding: 2em;
    text-align: center;
}

.site-footer a {
    color: #f0f0f0;
}

img {
    width: 500px;
    height: auto;
    margin-top: 1.5rem;
}

img:hover {
    outline: 1px solid black;
}
