/* philosopher-regular - latin */
@font-face {
    font-family: 'Philosopher';
    font-style: normal;
    font-weight: 400;
    src: /* Modern Browsers */
    url('../../shared/fonts/philosopher/philosopher-regular.woff2') format('woff2'),
    url('../../shared/fonts/philosopher/philosopher-regular.woff') format('woff'),
    /* Safari, Android, iOS */
    url('../../shared/fonts/philosopher/philosopher-regular.ttf') format('truetype');
}
