$l-bg-color: rgb(24, 158, 144);
$l-fnt-color: rgb(72, 23, 0);
$l-scnd-color: rgb(2, 2, 2);
$l-img-width: 100%;
$l-h1-font: 2.2em;
$l-p-font: 1em;
$l-p-margin-btn: 1.75rem;
$l-main-bg: rgb(255, 255, 255);
$l-dark-fnt: rgb(190, 190, 190);
