/* stylelint-disable max-nesting-depth, selector-max-id, selector-no-qualifying-type, shorthand-property-no-redundant-values */


@import './variables';
@import '../../shared/scss/base';
$fa-font-path: '../../shared/fontawesome/webfonts';
@import '../../shared/fontawesome/scss/fontawesome';
@import '../../shared/fontawesome/scss/brands';
@import '../../shared/fontawesome/scss/solid';
@import '../../shared/fontawesome/scss/regular';
@import './nav';
@import './fonts';
@import './gallery';


* {
    font-family: 'Philosopher', sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Philosopher', sans-serif;
}

p {
    font-size: $l-p-font;
    margin-bottom: $l-p-margin-btn;
}

h1 {
    font-size: $l-h1-font;
}

body,
.site-header,
.site-footer {
    color: $l-dark-fnt;
    background: #121212;
}

body a,
.site-header a,
.site-footer a {
    color: #809fff;
}

.site-footer {
    text-align: center;
    padding: 2rem;
}

.main {
    flex: 1 0 auto;
    padding: 2em;
    max-width: 1100px;
    margin: 0 auto;
}

.big-img {
    width: $l-img-width;
    height: auto;
    margin-top: 1.5rem;
    margin-left: auto;
    margin-right: auto;

    &:hover {
        outline: 1px solid rgb(2, 2, 2);
    }
}


#palette {
    padding: 1rem 0.5rem 0 0.5rem;
    box-shadow: 0.1rem 0.2rem 0.5rem darken($l-bg-color, 30%);
    border: 2px solid $l-bg-color;
    margin-bottom: 0.5rem;
    border-radius: 2rem;
    // background: darken($l-fnt-color, 20%);
}

#drop {
    border-top-left-radius: 0;
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
    border-bottom-left-radius: 50px;
    transform: rotate(45deg);
    border: 1px solid $l-fnt-color;
}


.fab,
.fa,
.fas {
    margin: 0 2rem;
    color: $l-fnt-color;
}

.my-git {
    text-decoration: none;
    color: $l-dark-fnt;

    .fab {
        padding: 0;
        margin: 0;
        color: $l-dark-fnt;
        font-size: 120%;
    }
}

.container ul li {
    margin: 1rem 0;
    list-style: none;

    a {
        text-decoration: none;
        letter-spacing: 2px;
    }
}

a {
    text-decoration: none;
}

.card {
    display: flex;
    flex-direction: column;
    border: 1px solid rgb(236, 234, 234);
    border-radius: 1rem;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.15);

    .card-title {
        background-color: darken($l-fnt-color, 20%);
        color: $l-dark-fnt;
        border-radius: 1rem 1rem 0 0;
        padding: 0.5rem 1rem;
        margin: 0;
    }

    .card-text {
        padding: 0.5rem 1rem;

        .card-link {
            float: right;
            color: $l-dark-fnt;
            padding: 0.2rem 0.7rem;
            border-radius: 50%;
            background-color: darken($l-bg-color, 20%);
            font-size: 2rem;
            margin-bottom: 0.5rem;
        }
    }
}

.report-page {
    display: grid;
    clear: both;
    padding: 1rem;
    grid-template-columns: 20% 80%;

    .links {
        display: grid;
        grid-template-columns: 1fr;
        margin-top: 2rem;
        margin-right: 1rem;

        a {
            margin: 1rem;
            padding: 0.3rem;

            &.active {
                background-color: darken($l-bg-color, 10%);
                border: 1px solid rgb(0, 0, 0);
                color: $l-dark-fnt;
            }
        }
    }
}


/* media queries */
@media only screen and (max-width: 490px) {
    .landingpage {
        display: grid;
        grid-template-columns: 1fr;
        gap: 1em 1em;
    }

    .landingpage h1 {
        justify-self: center;
    }

    .kmom-box.project {
        grid-template-columns: 1fr;
    }

    .sidebar {
        display: grid;
        grid-template-rows: 1fr;
        grid-row-start: 2;
        grid-row-end: 3;

        .links {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
        }
    }

    .report-page {
        display: grid;
        grid-template-columns: 1fr;
    }

    pre {
        width: 300px;
        overflow-x: scroll;
    }
}

@media only screen and (min-width: 491px) and (max-width: 767px) {
    .landingpage {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 1em 1em;
    }

    .landingpage h1 {
        grid-column: span 2;
        justify-self: center;
    }

    .kmom-box.project {
        grid-template-columns: 1fr 1fr;
        grid-column: span 2;
    }

    .sidebar {
        margin-right: 1rem;
    }

    pre {
        max-width: 440px;
        overflow-x: scroll;
    }
}

@media (min-width: 768px) {
    .landingpage {
        display: grid;
        gap: 1em 1em;
    }

    .landingpage h1 {
        grid-column: span 3;
        justify-self: center;
    }

    .project {
        grid-template-columns: repeat(3, 1fr);
        grid-column: span 3;
    }

    pre {
        max-width: 700px;
        overflow-x: scroll;
    }
}
