@import './variables';
@import '../../shared/scss/base';
$fa-font-path: '../../shared/fontawesome/webfonts';
@import '../../shared/fontawesome/scss/fontawesome';
@import '../../shared/fontawesome/scss/brands';
@import '../../shared/fontawesome/scss/solid';
@import '../../shared/fontawesome/scss/regular';
@import './nav';
@import './fonts';


* {
    font-family: 'Philosopher', sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Philosopher', sans-serif;
}

p {
    font-size: $l-p-font;
    margin-bottom: $l-p-margin-btn;
}

h1 {
    font-size: $l-h1-font;
}

body {
    background-color: lighten($l-main-bg, 30%);
}

/* Resten av min stylesheet */
.site-header,
.site-footer {
    flex: 0 0 auto;
    background-color: $l-bg-color;
    color: $l-fnt-color;
}


.site-footer {
    text-align: center;
    padding: 2rem;
}

.main {
    flex: 1 0 auto;
    padding: 2em;
    max-width: 1100px;
    margin: 0 auto;
}

img {
    width: $l-img-width;
    height: auto;
    margin-top: 1.5rem;
    margin-left: auto;
    margin-right: auto;

    &:hover {
        outline: 1px solid rgb(2, 2, 2);
    }
}


.fab {
    margin: 0 2rem;
    color: $l-fnt-color;
}

.my-git {
    text-decoration: none;
    color: rgb(2, 2, 2);

    .fab {
        padding: 0;
        margin: 0;
        color: rgb(0, 0, 0);
        font-size: 120%;
    }
}

.container ul li {
    margin: 1rem 0;
    list-style: none;

    a {
        text-decoration: none;
        letter-spacing: 2px;
    }
}
